body {
  font-family: Comic Sans MS, Comic Sans, cursive;
  height: 100%;
  margin:0;
}

header {
    display: flex;
    justify-content: center;
    background: #FFA500;
    border-radius: 0px 0px 40px 40px;
    height: 50px;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.menu {
  position: fixed;
  left: 0;top: 0px;
  z-index: 99;
  width: 40%;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  opacity: 0.95;
  transition: 0.5s;
  transform: translateX(-100%);
}
.menu_active {
  transform: translateX(0%);
}

.menu-list, .menu-list2 {
  display: flex;
  justify-content: space-around;
  height: 75%;
  flex-direction: column;
}
.menu-list a, .menu-list2 a {
    line-height: 29px;
    font-weight: 500;
    line-height: 1.19;
  color: #502314;
  text-decoration: none;
  font-weight: 800;
  align-items: center;
}

.menu-list a {
  font-size: 26px;
}
.menu-list2 a {
  font-size: 16px;
}

.menu-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #FF6347;
  position: absolute;
  right: -60px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.icon {
  width: 30px;
}

.promo img {
  height: 100%;
  opacity: 0.3;
  position: absolute;
  top:0px;
  width: 100%;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px 25px 0px; 
  background: #FFA500;
  border-radius: 40px 40px 0px 0px;
}

footer a {
  margin: 5px;
}
  
@media (max-width: 768px) {
  .menu-btn {
    width: 100px;
    height: 100px;
    cursor: none;
    align-items: none;
    background-color: black;
  }

}
